<%= simple_form_for @produto, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize == "New" ? "Novo" : "Editar" %> Produto</legend>

      <div class="row">
        <div  id="dados_basicos" class="span5 bloco red fieldset">
          <fieldset>
            <legend>Dados basicos</legend>
          <%= f.input :codigo %>
          <%= f.input :nome %>
          <%= f.input :sabor, :hint => "Queijo, frango, etc" %>
          <%= f.input :observacoes, :hint => "\"Nao contem gluten\", \"Contem ovos\"" %>

          <%= f.input :peso, :hint => "Peso ĺiquido da embalagem" %>

          <%= f.association :ingredientes, :label_method => lambda { |i| "#{i.nome}" } %>
          </fieldset>
        </div><!-- Dados basicos -->

        <div  id="infos_nutricionais" class="span5 bloco yellow fieldset">
          <fieldset>
            <legend>Informacoes Nutricionais</legend>
          <%= f.input :porcao, :hint => "Porcao de referencia para informacao nutricional, em gramas" %>
          <%= f.input :calorias %>
          <%= f.input :proteinas %>
          <%= f.input :gorduras_totais %>
          <%= f.input :gorduras_saturadas %>
          <%= f.input :gorduras_trans %>
          <%= f.input :colesterol %>
          <%= f.input :fibra %>
          <%= f.input :sodio %>
          </fieldset>
        </div><!-- Informacoes Nutricionais -->
      </div>

      <div class="row">
        <div  id="preparo" class="span5 bloco yellow fieldset">
          <fieldset>
            <legend>Preparo</legend>
          <%= f.input :orientacoes %>
          <%= f.input :conservacao %>
          </fieldset>
        </div><!-- Preparo -->

        <div  id="validades" class="span5 bloco red fieldset">
          <fieldset>
            <legend>Validades</legend>
          <%= f.input :validade_ambiente, :hint => "Validade na temperatura ambiente, em dias" %>
          <%= f.input :validade_resfriado, :hint => "Validade quando refrigerado, em dias" %>
          <%= f.input :validade_congelado, :hint => "Validade quando congelado, em dias" %>
          </fieldset>
        </div><!-- Validades -->
      </div>

      <div class="form-actions">
        <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
        <%= link_to 'Cancelar', produtos_path, :class => 'btn' %>
      </div>
    </div>
  </fieldset>
<% end %>
